@font-face {
    font-family:'Nurjan';
    src: url("../fonts/Nurjan.ttf");
}

@font-face {
    font-family:'Lobster';
    src: url("../fonts/Lobster_1.3.otf");
}

@font-face {
    font-family:'Chunkfive';
    src: url("../fonts/Chunkfive.otf");
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.tpadding {
    padding-top: 0;
}

.cursive {
    font-family: 'Fugaz One', cursive;
}

.chunkfive {
    font-family: 'Chunkfive', 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}

.deepshadow {
    color: #EF7126;
    text-shadow:
      0 -1px 0 #EF7126,
      0 1px 0 #2e2e2e,
      0 2px 0 #2c2c2c,
      0 3px 0 #2a2a2a,
      0 4px 0 #282828,
      0 5px 0 #262626,
      0 6px 0 #242424,
      0 7px 0 #222,
      0 8px 0 #202020,
      0 9px 0 #1e1e1e,
      0 10px 0 #1c1c1c,
      0 11px 0 #1a1a1a,
      0 12px 0 #181818,
      0 13px 0 #161616,
      0 14px 0 #141414,
      0 15px 0 #121212,
      0 22px 30px rgba(0, 0, 0, 0.9);
  }

.hit-the-floor {
    color: #403f3f;
    font-size: 16em;
    font-weight: bold;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.insetshadow {
    color: #3f6c6a;
    background-color: #6CCECB;
    letter-spacing: .1em;
    text-shadow:
      -1px -1px 1px #111,
      2px 2px 1px #62bebb;
  }
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.hori_center {
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
}

.vert_center {
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

.text_center {
    text-align: center;
}

body {
    margin: auto;
    background-image: url("../images/green-fibers_@2X.png");
}

.header{
    position: relative;
    width: 100%;
    margin: auto;
    height: 500px;
}

#socialmedia{
    position: absolute;
    margin: auto;
    z-index: 1;
    margin-left: 0px;
}

#socialmedia ul{
    list-style-type: none;
}

#socialmedia ul li{
    float: left;
    padding-left: 8px;
}

#socialmedia ul li a{
    background-color: white;
    padding-top: 25px;
    border-radius: 8px;
}

#socialmedia ul li a:visited,
#socialmedia ul li a{
    color: black;
}
#socialmedia ul li a:hover{
    color: red;
}

.title {
    position: relative;
    margin: auto;
    visibility: hidden;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    left: 0;
    top: 90px;
}

.title h1{
    font-family: 'Lobster', 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    margin: auto;
    font-size: 40px;
    text-align: center;
    position: relative;
    padding: 0 20%;
}


.title hr{
    width: 80%;
    height: 3%;
    margin: auto;
    text-align: center;
    color: #F9E559;
    top: 55%;
}

.navbar {
    visibility: hidden;
    margin: auto;
    padding: 50px;
    position: relative;
    top: 130px;
    width: 100%;
}

.navbar ul{
    width: 100%;
    list-style-type: none;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
}

.navbar ul li{
    width:  100px;
    float: left;
    margin: auto;
    border: 3px solid #473E3F;
    border-radius: 12px;
    margin: 0px 5px;
    -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.6);
    box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.6);
}

.navbar ul li a{
    font-family: 'Nurjan';
    font-size: 18px;
    line-height: 60px;
    display: block;
    background-color: #F9E559;
    text-decoration: none;
    color: #473E3F;
    border-radius: 9px;
    width:  100px;
    height: 60px;
}

.navbar ul li a:hover{
    font-size: 20px;
}

.navbar ul li a:active{
    background-color: #EF7126;
}

.section_head {
    font-family: 'Chunkfive';
    padding-bottom: 20px;
    font-size: 32px;
    text-align: center;
    border-bottom: 2px solid black;
}

.container[id="about"] {
    margin-top: 200px;
}

.container[id="about"],
.container[id="skills"],
.container[id="projects"],
.container[id="edu"]{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-radius: 32px;
    background-color: #6CCECB;
    /*background-image: url("../images/green_dust_scratch.png");*/
    border: 3px solid #473E3F;
    /*visibility: hidden;*/
    -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.6);
    box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.6);
}

.container[id="edu"] ul{
    text-align: center;
    list-style-type: none;
}

#skillsaccordion {
    margin: 0px 30px;
}

#skillsaccordion h2{
    background-color: aqua;
    text-align: center;
    border: 2px solid black;
    margin: 0;
}

#skillsaccordion h2:hover{
    background-color: #069898;
}

.accordionContents {
    background-color: white;
    text-align: center;
    /*background-image: url("../images/old_mathematics.png");*/
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding: 0px 20px;
    padding-bottom: 20px;
}

.accordionContents ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#edu p {
    text-align: center;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container[id="about"],
    .container[id="skills"],
    .container[id="projects"],
    .container[id="edu"]{
        width: 80%;
    }

    .container[id="edu"] ul{
        text-align: left;
        list-style-type: square;
    }

    .header{
        height: 650px;
    }
    .title {
        top: 150px;
    }

    .title h1{
        font-size: 64px;
    }
    .navbar {
        visibility: visible;
        top: 300px;
    }

    .navbar ul{
        width: 570px;
    }

    .navbar ul li{
        width:  130px;
    }

    .navbar ul li a{
        font-size: 24px;
        line-height: 60px;
        border-radius: 9px;
        width:  125px;
        height: 60px;
    }

    #socialmedia{
        position: fixed;
        margin: auto;
        z-index: 1;
        top: 200px;
    }

    #socialmedia {
        margin-left: 0px;
    }

    #socialmedia ul{
        list-style-type: none;
    }

    #socialmedia ul li{
        float: none;
        padding-left: 0px;
        margin-left: -15px;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .header{
        height: 900px;
    }
    .title {
        top: 200px;
    }
    .title h1{
        font-size: 80px;
    }
    .navbar {
        visibility: visible;
        top: 400px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .tpadding {
        padding-top: 40px;
    }

    #socialmedia ul li{
        padding-left: 8px;
        margin-left: 0px;
    }

    .header{
        height: 1000px;
    }
    .title {
        top: 200px;
    }
    .title h1{
        font-size: 100px;
    }
    .navbar {
        visibility: visible;
        top: 500px;
    }

    #edu p {
        text-align: left;
    }
}
